doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Összes Blog
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css")
        link(rel="stylesheet", href="/assets/css/blog.css")
    body 
        div(class="container")
            header
                h1 BlogPugs
            div(class="d-flex flex-row justify-content-between")
                div
                    a(class="btn btn-secondary" href=`/`)
                        i(class="bi bi-backspace")
                div
                    =blog.date
            main(class="d-flex justify-content-between")
                div
                    div(class="d-flex flex-row justify-content-between")
                        div
                        div
                            h1(class="text-center")
                                =blog.title
                        div
                            a(href=`/edit/${blog._id}` class="btn btn-warning")
                                i(class="bi bi-pencil-square")
                    h3(class="text-justify m-3")
                        =blog.content

                
                

        script(src="/assets/js/bootstrap.bundle.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/jquery-3.6.2.min.js")